<div >

    <mat-toolbar color="primary">
        <button mat-flat-button color="primary" routerLink="/login"   >Employee Mangment System</button>
        <span class="example-spacer"></span>
        <button mat-flat-button color="primary" routerLink="/login" *ngIf="!auth.session"   >Login</button>
        <button mat-flat-button color="primary" routerLink="/register" *ngIf="!auth.session" >register</button>
        <button mat-flat-button color="primary"  routerLink="/login" *ngIf="auth.session" (click)="logout()" >LogOut</button>
    </mat-toolbar>
    
</div>
<router-outlet></router-outlet>